@font-face {
  font-family: "HankenGroteskBold";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "HankenGrotesk-ExtraBold";
  src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "HankenGroteskMedium";
  src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "HankenGroteskVarable";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}
